<p class="mono-label">Sign Off</p>
<h2>{{ site.contact_title }}</h2>
<p class="lede-line" style="margin-top: 0.6rem;">{{ site.contact_description }}</p>
<div class="contact-links">
  {% if site.github_username %}
    <a href="https://github.com/{{ site.github_username }}" target="_blank" rel="noreferrer">GitHub</a>
  {% endif %}
  {% if site.linkedin_username %}
    <a href="https://www.linkedin.com/in/{{ site.linkedin_username }}" target="_blank" rel="noreferrer">LinkedIn</a>
  {% endif %}
  {% if site.twitter_username %}
    <a href="https://twitter.com/{{ site.twitter_username }}" target="_blank" rel="noreferrer">Twitter</a>
  {% endif %}
  {% if site.email %}
    <a href="mailto:{{ site.email }}">{{ site.email }}</a>
  {% endif %}
</div>
